<!DOCTYPE html>

<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet"
			href="https://icode.run/bootstrap/css/bootstrap.min.css" >
		<style>
			form * {
				margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<form>
				<textarea class="form-control"></textarea>
				<input class="form-control" placeholder="Type here"
					autofocus>
				<button class="btn btn-primary">Send</button>
			</form>
		</div>

		<script src="https://icode.run/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect("/")
			socket.on("connect", () => {
				socket.on("message", m => {
					$('textarea').html(m)
				})
			})
		</script>
	</body>
</html>

