<!DOCTYPE html>

<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet"
			href="https://icode.run/bootstrap/css/bootstrap.min.css" >
		<style>
			form * {
				margin-top: 10px;
			}
			#history {
				background: lightpink;
				padding: 4px;
				border-radius: 4px;
				height: 200px;
				overflow: auto;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<form action='javascript:send()'>
				<div id='history'></div>
				<input class="form-control" placeholder="Type here"
					autofocus>
				<button type="submit" class="btn btn-primary">Send</button>
				<button id='clear' class="btn btn-danger">Clear</button>
			</form>
		</div>

		<script src="https://icode.run/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			$('#clear').click(clear)
			function clear() {
				$('#history').html("")
				return false
			}
			var socket = io.connect("/")
			socket.on("connect", () => {
				socket.on("message", m => {
					var x = $('#history').html()
					if (x == "") {
						x = m
					} else {
						x = x + "<br>" + m
					}
					$('#history').html(x)
				})
			})

			function send() {
				var m = $('input').val()
				$('input').val("")
				socket.send(m)
			}
		</script>
	</body>
</html>

